<!DOCTYPE html>
<html ng-app="TodoList">
<head>
  <title>TodoList</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <div class="container" ng-controller="TodosController">

    <div class="todos list-group">
      <div class="list-group-item todo" ng-repeat="todo in todos track by $index"
        ng-controller="TodoController">
        <span>{{todo.name}}</span>
        <button type="button" class="close" aria-label="Close" ng-click="deleteTodo(todo)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="input-group" ng-controller="AddTodoController">
      <input type="text" class="form-control" placeholder="New Todo" ng-model="newTodo">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addTodo(newTodo)">ADD</button>
      </span>
    </div>

  </div>

  <script type="text/javascript" src="js/libs/angular.js"></script>
  <script type="text/javascript" src="js/libs/lodash.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>